# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDEA
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# Node
node_modules/
dist/
dist-ssr/
*.local

# Production
frontend/dist/
frontend/node_modules/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Misc
.env
.env*.local
